body {
  background-color: #eaf6f6;
  margin: 0;
}
img:hover {
  background-color: gold;
  margin-top: 0;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;

  width: 10%;
}
h1 {
  color: #66bfbf;
}

h4 {
  color: #66bfbf;
}

h2 {
  color: #66bfbf;
}

.pic {
  background-color: #eaf6f6;
}
